// main-colors
$background: #d6e5d3;
$story-background: #fffdf4;
$white: #fff;
$light-grey: #f6f6f6;
$accent-green: #afd8a6;

// Font/Text
$font-color: #2c3e50;
$font-hover-color: #d6e5d3;
$light-font: #aeaeae;
$story-text-color: #000;
$accent-grey:#F0F0F0;
$story-text-size: 1rem;
$story-text-size-desktop: 1.3rem;
$serif: serif;
$sans-serif: 'Avenir', Helvetica, Arial, sans-serif;

$nav-height: 3.5em;
$nav-height-desktop: 4em;
$mobile-margin: 1em;
$desktop-margin: 20%;
$desktop-width: 960px;
$desktop-card-width: 50%;
$mobile-card-width: 95%;
